---
// Components
import ContactForm from '../components/ContactForm/ContactForm.jsx';
import Layout from '../layouts/Layout.astro';
import ServicesWidget from '../components/ServicesWidget/ServicesWidget.jsx';

// Data
import aboutUs from '../data/about-us.json';
import contactUs from '../data/contact-us.json';
import data from '../data/index.json';
import highlightsData from '../data/highlights.json';

let highlights = highlightsData.highlights
---

<Layout title="Homepage | Superior Cleaning Services">
	<main>
    <div id="locally-owned">
      <p id="locally-owned-copy">✨{data.locallyOwned}✨</p>
    </div>

    <ServicesWidget client:load />

    <section id="highlights">
      {
        highlights.length &&
          highlights.map((highlight) => {
            return (
              <div>
                <p id="highlight-heading">{highlight.heading}</p>
                <img src={highlight.imageSrc} alt={highlight.imageAlt} />
                <p>{highlight.copy}</p>
              </div>
            );
          })
      }
    </section>

    <section id="about-us">
      <div id="content-wrapper">
        <h2>{aboutUs.heading}</h2>
        <div>
          <p>{aboutUs.copy}</p>
          <img src={aboutUs.imageSrc} alt={aboutUs.imageAlt} />
        </div>
      </div>
    </section>

    <!-- <section id="social">
      powr app
    </section> -->

    <section id="contact-us">
      <h2>{contactUs.heading}</h2>
      <p>{contactUs.subheading}</p>
      <ContactForm client:load/>
    </section>
	</main>
</Layout>

<style>
	main {
		margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
	}

  #locally-owned {
    background-color: rgb(1, 1, 164);
    width: 100%;
    margin-top: 108px;
    height: fit-content;
  }

  #locally-owned-copy {
    color: #f5f8e5;
    font-family: 'Mulish';
    font-size: 1.2rem;
    text-align: center;
    margin: .6rem 0;
  }

  #highlights {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    gap: 1rem;
    margin: 3rem 1rem;
    font-family: 'Mulish';
  }

  #highlights > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #highlights p {
    text-align: center;
  }

  #highlights #highlight-heading {
    font-weight: bold;
    font-size: 1.5rem;
  }

  #highlights img {
    height: auto;
    width: 80px;
  }

  #about-us {
    padding-top: 3rem;
    padding-bottom: 5rem;
    background: rgb(233, 233, 245);
    width: 100%;
    display: flex;
    justify-content: center;
    scroll-margin-top: 90px;
  }

  #about-us > div {
    max-width: 1064px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #about-us h2 {
    font-family: 'Lato';
    font-size: 5rem;
    text-align: center;
    margin-top: unset;
  }

  #about-us > div > div {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    margin-top: -2rem;
  }

  #about-us > div img {
    border-radius: 2rem;
  }
  #about-us > div p {
    max-width: 650px;
    font-family: 'Mulish';
    font-size: 1.4rem;
  }

  #contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(223, 223, 244);
    width: 100%;
    font-family: 'Mulish';
    font-size: 1.2rem;
  }

  #contact-us h2 {
    margin-bottom: unset;
    font-size: 5rem;
    font-family: 'Montserrat';
    letter-spacing: -2px;
  }

  @media (max-width: 900px) {
    #about-us {
      max-width: unset;
      width: 100%;
      padding: 1rem 1rem 2rem;
    }

    #about-us > div {
      flex-direction: column;
    }

    #about-us h2 {
      font-family: 'Kingsman';
      font-size: 5rem;
      text-align: center;
      margin-bottom: 3rem;
      margin-top: 2rem;
    }

  #about-us > div > div {
    display: flex;
    flex-direction: column-reverse;
    gap: .5rem;
    align-items: center;
    padding: 0 1rem;
  }

  #about-us > div img {
    width: 80%;
  }
  #about-us > div p {
    max-width: 650px;
    font-family: 'Mulish';
    font-size: 1.4rem;
  }
  }

</style>
